<div class="row">
  <div class="card p-2 col-xl-3  col-md-3">
      <mat-card class="example-card bg-primary mb-4 text-center text-white">
        <mat-card-title>Primary Card</mat-card-title>
        <hr/>
        <mat-card-subtitle>View Details</mat-card-subtitle>
      </mat-card>
  </div>
  <div class="card p-2 col-xl-3 col-md-3">
      <mat-card class="example-card bg-warning text-center mb-4 text-white">
        <mat-card-title>Warning Card</mat-card-title>
        <hr />
        <mat-card-subtitle>View Details</mat-card-subtitle>
      </mat-card>
  </div>
  <div class="card p-2 col-xl-3 col-md-3">
      <mat-card class="example-card bg-success text-center text-white">
        <mat-card-title>Sucess Card</mat-card-title>
        <hr />
        <mat-card-subtitle>View Details</mat-card-subtitle>
      </mat-card>
  </div>
  <div class="card p-2 col-xl-3 col-md-3">
      <mat-card class="example-card bg-danger text-center text-white">
        <mat-card-title>Danger Card</mat-card-title>
        <hr />
        <mat-card-subtitle>View Details</mat-card-subtitle>
      </mat-card>
  </div>
</div>
