<mat-nav-list>
    <div class="logo py-4">
        <a class="navbar-brand dev" routerLink="/home"><span class="raj">Dev</span><span class="magar">raj</span><mat-icon class="text-white p-2">group</mat-icon></a>
    </div>
    <mat-divider></mat-divider>
    <h2 matSubheader class="mt-2">APPLICATIONS</h2>
    <a mat-list-item routerLink="/home" routerLinkActive="list-item-active">
        <mat-icon>home</mat-icon>Home
    </a>
    <a mat-list-item routerLink="/dashboard" routerLinkActive="list-item-active" >
        <mat-icon>dashboard</mat-icon>Dashboard
    </a>
    <a mat-list-item routerLink="/about" routerLinkActive="list-item-active" >
        <mat-icon>person</mat-icon>About
    </a>
    <a mat-list-item routerLink="/setting" routerLinkActive="list-item-active" >
        <mat-icon>settings</mat-icon>Settings
    </a>
</mat-nav-list>

